.profile-section-parent{
   display: flex;
   justify-content: center;
    margin: 20px 60px;
   
}
.profile-section-child{
    width:800px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2px gray;
    padding: 10px;
 
}
.update-name-div h6{
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 300;
    
}
.update-name-div h6 i{
    margin: 0px 10px;
}

.update-name-div button i{
    margin: 0px 10px;
    font-size: 23px;
}
.profile-icon-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    

}
.profile-icon-div img{
    width: 130px;
    height: 120px;
    border-radius: 50%;
}
.profile-detail-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.update-name-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-other-details h6{
    letter-spacing: 1px;
    font-weight: 400;
}
.profile-other-details h6 i{
    margin: 0px 10px;
}
.profile-detail-div button{
    padding: 10px;
    background-color: white;
    border: none;
}
.desg-details {
    
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}

.desg-details h3{
    text-transform: uppercase;
    margin: 10px 0px;
    font-weight: 300;
    font-size: 17px;
}
.desg-details h3 i{
    margin: 0px 10px;
}