.job-box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0px 20px;
    margin-top: 10px;
    
   
  
   
}

.job-box-row{
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    gap: 8px;
    border-radius: 10px;
    
}

.job-heading{
    display: flex;
    justify-content: space-between;

}
.job-heading img{
    width: 40px;
    height: 40px;
}
.job-heading-content{
    display: flex;
    gap: 10px;

}

.job-heading-content h1{
    font-size: 20px;
}
.job-heading-content h6{
    font-size: 12px;
}

.job-time{
    display: flex;
}
.job-time button{
    background-color: rgba(30, 143, 255, 0.5);
    padding: 3px 10px;
    border: none;
    border-radius: 10px;
    color: white;
}

.job-salary-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-salary-details h1{
    font-size: 13px;
    font-weight: 500;
}
.job-salary-details p i{
    margin: 0px 3px;
}
.error-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
  
}
.error-image img{
    width: 300px;
}


@media screen and (max-width:986px) {
    .job-box-row{
        display: flex;
        flex-direction: column;
        width: 300px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 10px;
        gap: 8px;
        border-radius: 10px;
        
    }
    
}

@media screen and (max-width:886px) {
    .job-box-row{
        display: flex;
        flex-direction: column;
        width: 100%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 10px;
        gap: 8px;
        border-radius: 10px;
        
    }
    .job-box-container{
        flex-direction: column;
    }
    
}

@media screen and (max-width:756px) {
    .error-image{
        width: 100%;
    }
}




@media screen and (max-width:464px) {
    .job-description p{
        font-size: 12px;
    }
    .job-salary-details p{
        font-size: 14px;
    }
    .job-heading-content h1{
        font-size: 15px;
    }
    .job-heading-content h6{
        font-size: 9px;
    }
    .job-time button{
        background-color: rgba(30, 143, 255, 0.5);
        padding: 1px 10px;
        border: none;
        border-radius: 10px;
        color: white;
    }
    .job-salary-details p {
        font-size: 9px;
    }
    .error-image img{
        width: 220px;
    }
}


@media screen and (max-width:417px) {
    .job-description p{
        font-size: 12px;
    }
   
    .job-heading-content h1{
        font-size: 10px;
    }
    .job-heading img{
        width: 30px;
        height: 30px;
    }
    .job-time button{
        background-color: rgba(30, 143, 255, 0.5);
        padding: 1px 6px;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: 12px;
    }
    
    
   
   
    
}