footer{
    display: flex;
    justify-content: space-around   ;
    align-items: center;
    flex-wrap: wrap;
}
.footer-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-details img{
    width: 150px;
}
.footer-details h6{
   width: 300px;
}
.footer-details div{
    display: flex;
    
}

.footer-details div button{
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    border: none;
}
.footer-details div button i{
    font-size: 23px;
}

.copright-div{
    display: flex;
    justify-content: center;
}
.footer-details p i{
    margin: 0px 10px;

}
.footer-details p{
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.2s;
}
.footer-details p:hover{
    letter-spacing: 0px;
}
.footer-details h5{
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width:983px) {
    footer{
        flex-direction: column;
        justify-content: left;
        align-items: start;
        margin: 0px 10px;
        gap: 20px;
    }
    .footer-details h6{
        width: 300px;
    }
}