.all-job-heading-parent{
    background: radial-gradient(9% 55% at 1.19% 99.1%, black 0%, rgb(0, 3, 15) 100%);


}

.all-job-heading-row{
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    gap: 10px;
 
}
.all-jobs-heading-details{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}
.all-jobs-heading-details img{
    width: 100px;
}
.all-jobs-heading-details h1{
    color: white;
    letter-spacing: 1px;
    margin-top: 20px;
    font-weight: 300;
}

.all-jobs-heading-search{
    margin-bottom: 20px;
    display: flex;
    padding: 2px;
    margin: 0px 20px;
    align-items: center;
    gap: 10px;
    margin-top: -20px;
}

.all-jobs-heading-search button{
    padding: 7px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: -60px;
    margin-top: -10px;
    z-index: 1;
}
.all-jobs-heading-search button i{
    font-size: 25px;
}
.all-jobs-heading-search button:active{
    transform: scale(1.1);
}