.header-middle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    color: white;
    gap: 4px;
    margin-top: 30px;
}
.header-middle div{
    display: flex;
    gap: 2px;
}
.header-middle div button{
    width: 77px;
    border-radius: 50%;
    padding: 20px;
}
.header-middle div button{
    margin: 0px -10px;
    background: radial-gradient(9% 55% at 1.19% 99.1%, black 0%, rgb(0, 3, 15) 100%);
    border: none;
    border: 1px solid lightgray;
}
.header-middle div button i{
    font-size: 29px;
    color: white;
}

@media screen and (max-width:865px) {
    .footer-heading{
     flex-direction: column;
    }   
}